---
pagination:
  data: modelYears
  size: 45000
  alias: chunk
permalink: "/sitemap-modelyears-{{ pagination.pageNumber }}.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in chunk %}
  <url>
    <loc>https://www.caralpha.com/makes/{{ entry.makeSlug }}/{{ entry.slug }}/{{ entry.year }}/</loc>
    <lastmod>2026-02-14</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endfor %}
</urlset>
